    <h2>Liste des taches :</h2>
    <ul id="ul-task-list">	
		{% for task in tasks %}

			{% include 'checklists/task.html.twig' with { 'task': task } %}


		{% endfor %}
    </ul>
	<div id="duration_checklist">	
		{% include 'checklists/duration.html.twig' with { 'checklist': checklist } %}
	</div>
